@model IEnumerable<S7MVC.Models.atenciones_procesos_incidencias>

@{
    
}


<div class="panel-group">

   
    @foreach (var item in Model)
    {


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h3 class="text-info">Respuesta a su incidencia</h3></div>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Observación</dt>
                    <dd>@Html.DisplayFor(modelItem => item.ate_pro_inc_observacion)</dd>
                    
                    <dt>Fecha</dt>
                    <dd>@Html.DisplayFor(modelItem => item.ate_pro_inc_fecha_inicio_atencion)</dd>

                    
                    <dt>Funcinario</dt>
                    <dd>@Html.DisplayFor(modelItem => item.empresas_usuarios_sedes.usuarios.usu_apellidos)  @Html.DisplayFor(modelItem => item.empresas_usuarios_sedes.usuarios.usu_nombres)</dd>

                    
                </dl>
            </div>
        </div>
    }
</div>

